# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints
*.pyo

# Virtual Environment
venv/
.env/
.envrc

# VSCode
.vscode/

# Mac/Linux/Windows system files
.DS_Store
Thumbs.db

# Streamlit logs
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
